<!-- <div class="login-page">
  <div class="login-container">
    <div class="login-content">
      <div class="login-section-title">
        Enter your details to register yourself
      </div>
      <div class="content top-content">
        <div class="content fields-content">
          <div class="name-fields">
            <div class="form-field">
              <label class="section-label">First Name *</label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>First Name</mat-label>
                <input
                  matInput
                  maxlength="190"
                  placeholder="Enter First Name"
                  [(ngModel)]="userPayload.firstName"
                  name="firstName"
                />
              </mat-form-field>
            </div>
            <div class="form-field">
              <label class="section-label">Last Name *</label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Last Name</mat-label>
                <input
                  matInput
                  maxlength="190"
                  placeholder="Enter Last Name"
                  [(ngModel)]="userPayload.lastName"
                  name="lastName"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="form-field">
            <label class="section-label">Username *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>User Name</mat-label>
              <input
                matInput
                maxlength="190"
                placeholder="Enter User Name"
                [(ngModel)]="userPayload.userId"
                name="userName"
              />
            </mat-form-field>
          </div>
          <div class="form-field">
            <label class="section-label">Email *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <input
                matInput
                maxlength="190"
                placeholder="Enter Email"
                [(ngModel)]="userPayload.email"
                name="email"
              />
            </mat-form-field>
          </div>
          <div class="form-field">
            <label class="section-label">Password *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Password</mat-label>
              <input
                matInput
                maxlength="190"
                placeholder="Enter Password"
                [(ngModel)]="userPayload.password"
                name="password"
              />
            </mat-form-field>
          </div>
          <div class="form-field">
            <label class="section-label">Confirm Password *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Confirm Password</mat-label>
              <input
                matInput
                type="password"
                maxlength="190"
                placeholder="Re-enter Password"
                [(ngModel)]="confirmPassword"
                name="confirmPassword"
                required
              />
            </mat-form-field>
            <div *ngIf="passwordMismatch" class="error-message">
              Passwords do not match.
            </div>
          </div>
          <div class="form-field">
            <label class="section-label">User Type *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>User Type</mat-label>
              <mat-select [(ngModel)]="userPayload.userTypeId">
                <mat-option *ngFor="let type of userTypes" [value]="type.id">
                  {{ type.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-field">
            <button
              mat-raised-button
              color="primary"
              class="add-user-btn"
              (click)="addUser()"
            >
              Register Now
            </button>
          </div>
          <div class="nav-link">
            Already have an account?
            <span class="login-link" (click)="openLoginModal()">Login Now</span>
          </div>
          
          <div class="form-field">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Mobile No</mat-label>
              <input
                matInput
                maxlength="190"
                placeholder="Enter Mobile No"
                [(ngModel)]="userPayload.mobileNo"
                name="mobileNo"
              />
            </mat-form-field>
          </div>
          <div class="form-field">
            <label class="section-label">Gender *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Gender</mat-label>
              <mat-select [(ngModel)]="userPayload.gender">
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
                <mat-option value="other">Other</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div class="form-field">
            <label class="section-label">Course *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Course</mat-label>
              <input
                type="text"
                placeholder="Select your course"
                aria-label="Number"
                matInput
                [formControl]="courseControl"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                autoActiveFirstOption
                #auto="matAutocomplete"
                (optionSelected)="handleCourse($event.option.value)"
                [displayWith]="displayCourse"
              >
                <mat-option
                  *ngFor="let course of filteredCourses | async"
                  [value]="course"
                >
                  {{ course.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-field">
            <label class="section-label">College *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>College</mat-label>
              <input
                matInput
                [formControl]="collegeControl"
                [matAutocomplete]="collegeAuto"
                placeholder="Type to filter colleges"
              />
              <mat-autocomplete
                #collegeAuto="matAutocomplete"
                (optionSelected)="handleCollege($event.option.value)"
                [displayWith]="displayCollege"
              >
                <mat-option
                  *ngFor="let college of filteredColleges | async"
                  [value]="college"
                >
                  {{ college.name }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div> -->

<!-- <div class="form-field">
            <label class="section-label">Purpose *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Purpose</mat-label>
              <mat-select [(ngModel)]="userPayload.purposeId">
                <mat-option
                  *ngFor="let purpose of purposes"
                  [value]="purpose.id"
                >
                  {{ purpose.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
<!-- <div class="form-field">
            <label class="section-label">Location Details *</label>
            <div class="location-fields">
              <div class="form-field">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Pincode</mat-label>
                  <input
                    matInput
                    maxlength="190"
                    placeholder="Enter Pincode"
                    [(ngModel)]="userPayload.pincode"
                    name="pincode"
                  />
                </mat-form-field>
              </div>
              <div class="form-field">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>City</mat-label>
                  <input
                    matInput
                    maxlength="190"
                    placeholder="Enter City"
                    [(ngModel)]="userPayload.city"
                    name="city"
                  />
                </mat-form-field>
              </div>
              <div class="form-field">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>State</mat-label>
                  <input
                    matInput
                    maxlength="190"
                    placeholder="Enter State"
                    [(ngModel)]="userPayload.state"
                    name="state"
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
