/* Main content area */
.main-container {
  width: 100%;
  padding: 10px;
  background-color: #f6f6f6;
  min-height: calc(100vh - 75px);
}

.full-content {
  margin-left: 0% !important;
  width: 100%;
  height: 100%;
  padding: 0px !important;
}

/* Main container */
.listing-container {
  /* padding: 20px; */
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 15px;
  margin: 0 auto;
  max-width: 1320px;
}

.register-event-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  /* flex: 3; */
  position: relative;
  /* padding-bottom: 60px; */
}

.register-event-details .details {
  width: 50%;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

a {
  color: #000;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-field {
  margin-bottom: 20px;
}

.full-width {
  width: 100%;
}

.section-label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
}

.register-event-btn {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}

.register-details-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
