<div class="main-container">
  <div *ngIf="isLoading" class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>

  <div class="pool-container" *ngIf="!isLoading">
    <div class="pool-head">Performance Details</div>
    <div class="pool" *ngFor="let performance of performanceDetails">
      <div class="pool-details">
        <div class="club-details">
          <div class="list-details-title">
            <span class="material-symbols-outlined"> expand_circle_down </span>
            <span class="title">Promoted Event Details</span>
          </div>
          <div class="club-detail">
            <span class="material-symbols-outlined"> school </span>
            <span class="name">{{ performance.collegeName }}</span>
          </div>
          <div class="club-detail">
            <span class="material-symbols-outlined"> groups </span>
            <span class="name">{{ performance.clubName }}</span>
          </div>
          <div class="club-detail">
            <span class="material-symbols-outlined"> mail </span>
            <span class="name">{{ performance.clubMail }}</span>
          </div>
          <div class="club-detail">
            <span class="material-symbols-outlined"> hub </span>
            <span class="name">{{ performance.mainEventName }}</span>
          </div>
          <div class="club-detail">
            <span class="material-symbols-outlined"> trophy </span>
            <span class="name">{{ performance.subEventName }}</span>
          </div>
        </div>

        <div class="list-details-container">
          <div class="list-details-title">
            <span class="material-symbols-outlined"> expand_circle_down </span>
            <span class="title">Other Details</span>
          </div>
          <div class="list">
            <div class="list-details">
              {{ performance.otherdetail }}
            </div>
          </div>
        </div>

        <div class="list-details-container">
          <div class="list-details-title">
            <span class="material-symbols-outlined"> expand_circle_down </span>
            <span class="title">Gallery Images</span>
          </div>
          <div class="event-posts">
            <div
              class="event-post"
              *ngFor="let image of performance.imageGalleryList"
            >
              <img [src]="image.imageURL" alt="Event Poster" />
            </div>
          </div>
        </div>

        <div class="list-details-container">
          <div class="list-details-title">
            <span class="material-symbols-outlined"> expand_circle_down </span>
            <span class="title">Promoter Details</span>
          </div>
          <div class="list">
            <div class="list-details contact-details">
              <div class="contact-detail">
                <span class="material-symbols-outlined contact-icon">
                  school
                </span>
                <span class="contact">{{
                  performance.promotorCollegeName
                }}</span>
              </div>
              <div class="contact-detail">
                <span class="material-symbols-outlined contact-icon">
                  groups
                </span>
                <span class="contact">{{ performance.promotorClubName }}</span>
              </div>
              <div class="contact-detail">
                <span class="material-symbols-outlined contact-icon">
                  mail
                </span>
                <span class="contact"
                  >+91 {{ performance.promotorClubMail }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
