<div class="main-container">
  <div *ngIf="isLoading" class="loading-spinner">
    <!-- Loading Spinner or Text -->
    <mat-spinner></mat-spinner>
  </div>
  <!-- Profile Header -->
  <div class="listing-container" *ngIf="!isLoading">
    <div class="listing-head">Performance Details</div>
    <div class="listing-sections">
      <div class="listing-filters">
        <div class="search-listing">
          <span class="material-symbols-outlined search-icon"> search </span>
          <input type="text" placeholder="Search your performances" />
        </div>
      </div>
      <div class="listings-table">
        <div *ngIf="performances.length === 0" class="no-events">
          No performances found.
        </div>
        <div *ngFor="let performance of performances">
          <a class="listing">
            <div class="left-content">
              <!-- <div class="listing-image">
                <img
                  [src]="pool.eventLogoURL || 'https://via.placeholder.com/60'"
                  alt="Event Logo"
                />
              </div> -->
              <div class="listing-info">
                <div class="listing-title">
                  <a class="listing-title">
                    {{ performance.mainEventName || "-" }}
                  </a>
                </div>
                <div class="listing-count">
                  Performance Club -
                  {{ performance.clubName || "-" }}
                </div>
                <div class="listing-count">
                  Club Mail -
                  {{ performance.clubMail || "-" }}
                </div>
                <div class="listing-count">
                  College -
                  {{ performance.collegeName || "-" }}
                </div>
              </div>
              <div class="listing-collaborators">
                <div class="collaborator-heading">Promotor Details:</div>
                <div class="collaborator">
                  {{ performance.promotorClubName || "-" }}
                </div>
                <div class="collaborator">
                  {{ performance.promotorCollegeName || "-" }}
                </div>
                <div class="collaborator">
                  {{ performance.promotorClubMail || "-" }}
                </div>
              </div>
            </div>
            <div class="right-content">
              <a>
                <span class="material-symbols-outlined edit-icon"> edit </span>
              </a>
              <span class="material-symbols-outlined delete-icon">
                delete
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
