<div class="details-container">
  <div *ngIf="isLoading" class="loading-spinner">
    <!-- Loading Spinner or Text -->
    <mat-spinner></mat-spinner>
  </div>
  <div class="all-details-content" *ngIf="!isLoading">
    <div class="banner-image">
      <img
        [src]="
          eventDetails[0].eventBannerURL || 'https://via.placeholder.com/150'
        "
        alt="Event Logo"
      />
    </div>
    <div class="details-content">
      <div class="left-content">
        <div class="top-container">
          <div class="top">
            <!-- Event Logo -->
            <div class="event-image">
              <img
                [src]="
                  eventDetails[0].eventLogoURL ||
                  'https://via.placeholder.com/150'
                "
                alt="Event Logo"
              />
            </div>
            <!-- Event Title -->
            <div class="event-title">{{ eventDetails[0].title || "-" }}</div>
            <!-- Event Mode -->
            <div class="event-mode">
              <span class="material-symbols-outlined icon"> location_on </span>
              <span class="mode">{{ eventDetails[0].eventMode || "-" }}</span>
            </div>

            <div class="event-mode">
              <span class="material-symbols-outlined icon"> workspaces </span>
              <span class="mode">
                {{ eventDetails[0].eventType || "-" }}
              </span>
            </div>
            <div class="event-mode">
              <span class="material-symbols-outlined icon">
                corporate_fare
              </span>
              <span class="mode">
                {{ eventDetails[0].organisation || "-" }}
              </span>
            </div>
            <div class="event-mode">
              <span class="material-symbols-outlined icon"> language </span>
              <div class="mode">
                <a [href]="eventDetails[0].websiteURL || '#'" target="_blank">
                  {{ eventDetails[0].websiteURL || "-" }}
                </a>
              </div>
            </div>
            <div class="event-total-price">
              <span class="material-symbols-outlined icon"> trophy </span>
              <span class="price-txt"
                >Total Prize of {{ calculateTotalPrize() }} INR</span
              >
            </div>
            <div class="event-categories-list">
              <div
                class="event-category"
                *ngFor="let category of eventDetails[0].eventCategoryList"
              >
                {{ category.name }}
              </div>
            </div>
          </div>
        </div>
        <div class="details-box">
          <div class="details-sections">
            <div
              class="section"
              *ngFor="let section of sections; let i = index"
              [class.active]="activeSection === i"
              (click)="scrollToSection(i)"
              #sectionDiv
            >
              {{ section }}
            </div>
          </div>
        </div>
        <div class="details-box round-details-box" #roundsSection>
          <div class="details-box-title">Rounds & Deadlines</div>
          <div class="rounds">
            <div
              class="round"
              *ngFor="
                let round of eventDetails[0].eventRoundList;
                let i = index
              "
            >
              <div class="round-no-container">
                <div class="round-number line">{{ i + 1 }}</div>
              </div>
              <div class="round-details">
                <div class="round-title">{{ round.title }}</div>
                <div class="round-timings">
                  <div class="start-timing">
                    <span class="material-symbols-outlined calender-icon">
                      calendar_month
                    </span>
                    <div class="round-timing-content">
                      <div class="round-date-title">Round Start Date</div>
                      <span class="round-date">
                        {{ round.startDate | date : "MMM d, y, h:mm a" }}
                      </span>
                    </div>
                  </div>
                  <div class="end-timing">
                    <span class="material-symbols-outlined calender-icon">
                      calendar_month
                    </span>
                    <div class="round-timing-content">
                      <div class="round-date-title">Round End Date</div>
                      <span class="round-date">
                        {{ round.endDate | date : "MMM d, y, h:mm a" }}
                      </span>
                    </div>
                  </div>
                </div>
                <div class="round-description">{{ round.description }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="details-box description-details" #descriptionSection>
          <div class="details-box-title">Event Description</div>
          <div class="description" [innerHTML]="descriptionHtml"></div>
        </div>
        <div class="details-box dates-deadlines-box" #datesSection>
          <div class="details-box-title">Dates & Deadlines</div>
          <div class="deadline-details">
            <div class="register-detail">
              <span class="material-symbols-outlined team-icon">
                calendar_month
              </span>
              <div class="register-detail-content">
                <div class="register-title">Registration start Date</div>
                <span class="register-count">{{
                  eventDetails[0].eventRegistrationList[0]
                    .registartionStartDateTime | date : "MMM d, y, h:mm a"
                }}</span>
              </div>
            </div>
            <div class="register-detail">
              <span class="material-symbols-outlined team-icon">
                calendar_month
              </span>
              <div class="register-detail-content">
                <div class="register-title">Registration Deadline</div>
                <span class="register-count">{{
                  eventDetails[0].eventRegistrationList[0]
                    .registartionEndDateTime | date : "MMM d, y, h:mm a"
                }}</span>
              </div>
            </div>
          </div>
        </div>
        <div
          class="details-box prizes-detail-box"
          *ngIf="eventDetails[0].eventPrizeList.length"
          #prizesSection
        >
          <div class="details-box-title">Prizes</div>
          <div
            *ngIf="
              eventDetails[0].eventPrizeList[0]
                .isParticipationCertificateProvided
            "
            class="certificate"
          >
            {{ eventDetails[0].eventPrizeList[0].title }} - Participation
            Certificate Provided
          </div>

          <div class="prizes">
            <div
              class="prize"
              *ngFor="let prize of eventDetails[0].eventPrizeList[0].prizeList"
            >
              <div class="prize-rank">
                <span class="prize-head">Rank: </span> {{ prize.rank }}
              </div>
              <div class="prize-cash">
                <span class="prize-head">Cash Reward: </span>
                {{ prize.cash | currency : "INR" }}
              </div>
              <div class="prize-perks">
                <span class="prize-head">Perks:</span> {{ prize.perks }}
              </div>
            </div>
          </div>
        </div>

        <div class="details-box">
          <div class="details-box-title">Contact the Organizer</div>
          <div class="organizer-details">
            <div class="organizers">
              <div
                class="organizer"
                *ngFor="let contact of eventDetails[0].eventContactList"
              >
                <div class="organizer-profile">
                  {{ contact.name | slice : 0 : 2 }}
                </div>
                <div class="organizer-names">
                  <div class="organizer-name">
                    {{ contact.name }}
                  </div>
                  <div class="organizer-name">
                    {{ contact.email }}
                  </div>
                  <div class="organizer-name">
                    {{ contact.contactNo }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="right-content">
        <div class="detail-box">
          <div class="box-top">
            <div class="box-title">Free</div>
            <div class="share-details">
              <span class="material-symbols-outlined share-icon">
                favorite
              </span>
              <span class="material-symbols-outlined share-icon"> share </span>
            </div>
          </div>
          <a
            target="_blank"
            [routerLink]="['/event/register-event', eventDetails[0].eventId]"
          >
            <div class="register-btn">Register</div>
          </a>
          <div class="event-register-details">
            <!-- <div class="register-detail">
              <span class="material-symbols-outlined icon"> groups </span>
              <div class="register-detail-content">
                <div class="register-title">Registered</div>
                <span class="register-count">10</span>
              </div>
            </div> -->
            <div class="register-detail">
              <span class="material-symbols-outlined icon"> person </span>
              <div class="register-detail-content">
                <div class="register-title">Registeration Count Limit</div>
                <span class="register-count">{{
                  eventDetails[0].eventRegistrationList[0]
                    .registrationCountLimit
                }}</span>
              </div>
            </div>
            <div
              class="register-detail"
              *ngIf="
                eventDetails[0].eventRegistrationList[0].participationTypeId ===
                2
              "
            >
              <span class="material-symbols-outlined icon"> groups </span>
              <div class="register-detail-content">
                <div class="register-title">Team Size</div>
                <span class="register-count"
                  >Min:
                  {{ eventDetails[0].eventRegistrationList[0].minTeamMember }} -
                  Max:
                  {{
                    eventDetails[0].eventRegistrationList[0].maxTeamMember
                  }}</span
                >
              </div>
            </div>
            <!-- <div class="register-detail">
              <span class="material-symbols-outlined icon"> flash_on </span>
              <div class="register-detail-content">
                <div class="register-title">Impressions</div>
                <span class="register-count">10</span>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
