.details-container {
  padding: 10px 0px;
  background-color: #f6f6f6;
  min-height: calc(100vh - 75px);
}

.details-content {
  display: flex;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  max-width: 1250px;
}

.banner-image {
  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  height: 300px;
  margin-bottom: 10px;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.left-content .top-container,
.details-box {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-content .top {
  border-left: 3px solid #009afe;
  padding: 5px 20px;
}

.left-content .top .event-image {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
}

.event-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 12px;
}

.top .event-title {
  font-size: 24px;
  font-weight: 600;
  margin: 20px 0;
}

.event-mode,
.event-date {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.event-date {
  margin-bottom: 0px;
}

.event-mode .icon,
.event-date .icon {
  font-size: 18px;
  padding: 6px;
  background-color: #009afe;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-mode .mode {
  font-size: 15px;
}

.event-date .date-txt {
  font-size: 15px;
}

.left-content .details-box .details-box-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.left-content .details-box .detail {
  font-size: 16px;
  margin-bottom: 10px;
}

.left-content .details-box .detail span {
  font-weight: 600;
}

.event-collaborators-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.event-collaborators {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.event-collaborator {
  font-size: 15px;
}

.event-description {
  font-size: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.description-title,
.organizer-title {
  font-size: 16px;
  font-weight: 600;
}

.event-organizer-details {
  margin-top: 30px;
}

.organizer-title {
  margin-bottom: 10px;
}

.organizer-details {
  margin-top: 20px;
}

.round-container-title,
.organizer-container-title,
.prize-container-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}

.description {
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  min-height: 150px;
  word-wrap: break-word;
  white-space: normal;
}

.right-content {
  width: 30%;
}

.right-content .detail-box {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.right-content .detail-box .box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.box-top .box-title {
  font-size: 17px;
  font-weight: 600;
  color: #000;
}

.box-top .share-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.share-details .share-icon {
  font-size: 22px;
  color: #000;
}

.detail-box .register-btn {
  width: 100%;
  font-size: 16px;
  background-color: #009afe;
  color: #fff;
  padding: 10px 15px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
}

.event-register-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-detail {
  display: flex;
  align-items: center;
  gap: 12px;
}

.register-detail .icon {
  font-size: 20px;
  padding: 6px;
  background-color: #009afe;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-details .register-detail-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.register-detail-content .register-title {
  font-size: 12px;
}

.register-detail-content .register-count {
  font-size: 15px;
  font-weight: 600;
}

.event-url a {
  text-decoration: none;
  color: #009afe;
}

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.organizer-details .organizers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.organizers .organizer {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

.organizer .organizer-profile {
  font-size: 13px;
  background-color: #f6f6f6;
  color: #000;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 40px; */
}

.organizer-names {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.organizer-names .organizer-name {
  font-size: 14px;
  color: #000;
}

.prize-details {
  margin-top: 30px;
}

.prizes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.prize {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

.prize .prize-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.prize .prize-cert-txt {
  font-size: 14px;
}

.deadline-details {
  display: flex;
  align-items: center;
  gap: 50px;
  /* margin: 20px 0; */
}

.deadline-details .register-detail {
  display: flex;
  align-items: center;
  gap: 12px;
}

.register-detail .team-icon {
  font-size: 20px;
  background-color: #f6f6f6;
  color: #000;
  border-radius: 5px;
  border: 1px solid #000;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-detail-content .register-title {
  font-size: 13px;
  color: #0a0a0a;
  margin-bottom: 2px;
}

.register-detail-content .register-count {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.event-total-price {
  padding: 10px;
  background-color: rgb(233, 179, 78);
  color: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  width: fit-content;
}

.event-total-price .icon {
  font-size: 24px;
}

.event-total-price .price-txt {
  font-size: 15px;
  font-weight: normal;
}

.event-categories-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.event-categories-list .event-category {
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 13px;
}

.details-sections {
  display: flex;
  align-items: center;
  gap: 10px;
}

.details-sections .section {
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

.details-sections .section.active {
  border: 1px solid #009afe;
}

.round-details-box .rounds {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.round-details-box .rounds .round .round-title {
  background-color: #f1f1f1;
  color: #000;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  width: fit-content;
  margin-bottom: 15px;
}

.round .round-timings {
  display: flex;
  align-items: center;
  gap: 20px;
}

.start-timing,
.end-timing {
  display: flex;
  align-items: center;
  gap: 12px;
}

.calender-icon {
  font-size: 20px;
  padding: 6px;
  background-color: #009afe;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-timing-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.round-date-title {
  font-size: 12px;
}

.round-date {
  font-size: 15px;
  font-weight: 600;
}

.round-description {
  font-size: 14px;
  font-weight: normal;
  margin-top: 15px;
}

.prizes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
  gap: 1rem;
}

.prize {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.last-prize {
  grid-column: span 2;
  text-align: left;
}

.certificate {
  margin-top: 1rem;
  font-size: 1rem;
  color: #4caf50;
  font-weight: bold;
}

.prize-head {
  font-weight: 600;
}

.section {
  cursor: pointer;
}

.section.active {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
}
