<header class="header">
  <div class="header-bound">
    <!-- Logo Section -->
    <div class="logoContainer">
      <img
        src="https://cfdblob.blob.core.windows.net/logo/CDK_Logo.png"
        alt="Unstop Logo"
        class="logo"
        routerLink="/"
      />
    </div>

    <!-- Search Bar -->
    <div class="query">
      <input type="text" placeholder="Search Opportunities" class="searchbar" />
    </div>

    <!-- Navigation Menu -->
    <!-- Navigation Menu -->
    <nav class="menu-bar">
      <ul class="menu-list">
        <li
          class="menu-item"
          [class.active]="currentActiveItem === 'Internships'"
          (click)="setActiveItem('Internships')"
        >
          <a>Internships</a>
        </li>
        <li
          class="menu-item"
          [class.active]="currentActiveItem === 'Jobs'"
          (click)="setActiveItem('Jobs')"
        >
          <a>Jobs</a>
        </li>
        <li
          class="menu-item"
          [class.active]="currentActiveItem === 'Compete'"
          (click)="setActiveItem('Compete')"
        >
          <a [routerLink]="'/event/compete'">Compete</a>
        </li>
        <li
          class="menu-item"
          [class.active]="currentActiveItem === 'Mentorship'"
          (click)="setActiveItem('Mentorship')"
        >
          <a>Mentorship</a>
        </li>
        <li
          class="menu-item"
          [class.active]="currentActiveItem === 'Courses'"
          (click)="setActiveItem('Courses')"
        >
          <a>Courses</a>
        </li>
        <li
          class="menu-item"
          [class.active]="currentActiveItem === 'Practice'"
          (click)="setActiveItem('Practice')"
        >
          <a>Practice</a>
        </li>
      </ul>
    </nav>

    <!-- User Action Buttons -->
    <div class="action">
      <button
        class="btn btn-host"
        [routerLink]="'/event/host'"
        (click)="setActiveItem('')"
      >
        + Host
      </button>
      <button class="btn btn-business" routerLink="/">For Business</button>

      <!-- Profile Icon -->
      <div class="user user-profile">
        <div class="user-icons" (click)="toggleSidebar()">
          <img
            src="https://via.placeholder.com/40"
            alt="User Profile"
            class="profile-icon"
          />
        </div>
      </div>
    </div>
  </div>
</header>

<div class="overlay" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>

<div class="sidebar" [ngClass]="{ show: isSidebarOpen }">
  <div class="sidebar-header">
    <div class="profile-container">
      <img src="https://via.placeholder.com/50" class="profile-pic" />
      <div class="profile-info">
        <h4>{{ firstName }}</h4>
        <p>{{ email }}</p>
        <a [routerLink]="'/user/dashboard/my-profile'" class="view-profile"
          >View Profile &gt;</a
        >
      </div>
    </div>
  </div>

  <div class="sidebar-section" *ngIf="userRole === 'Organizer'">
    <h5>For Organizers</h5>
    <ul>
      <li [routerLink]="'/user/dashboard/manage-listings'">
        <span class="material-symbols-outlined link-icon">home_work</span>
        Manage Listings
      </li>
      <li [routerLink]="'/user/dashboard/settings'">
        <span class="material-symbols-outlined link-icon">settings</span>
        Settings
      </li>
    </ul>
  </div>

  <div class="sidebar-section" *ngIf="userRole === 'Participant'">
    <h5>For Participants</h5>
    <ul>
      <li [routerLink]="'/user/dashboard/my-registerations'">
        <span class="material-symbols-outlined link-icon">assignment</span>
        My Registrations
      </li>
      <li [routerLink]="'/user/dashboard/certificates'">
        <span class="material-symbols-outlined link-icon">verified</span>
        Certificates
      </li>
      <li [routerLink]="'/user/dashboard/wishlist'">
        <span class="material-symbols-outlined link-icon">favorite</span>
        Wishlist
      </li>
      <li [routerLink]="'/user/dashboard/settings'">
        <span class="material-symbols-outlined link-icon">settings</span>
        Settings
      </li>
    </ul>
  </div>
  <div class="sidebar-section" *ngIf="userRole === 'SuperAdmin'">
    <h5>For Admin</h5>
    <ul>
      <li [routerLink]="'/user/dashboard/admin-panel'">
        <span class="material-symbols-outlined link-icon">shield_person</span>
        Admin Panel
      </li>
      <li [routerLink]="'/user/dashboard/add-skill'">
        <span class="material-symbols-outlined link-icon">workspaces</span>
        Add Skill
      </li>
      <li [routerLink]="'/user/dashboard/add-category'">
        <span class="material-symbols-outlined link-icon">category</span>
        Add Category
      </li>
      <li [routerLink]="'/user/dashboard/add-organization'">
        <span class="material-symbols-outlined link-icon">domain_add</span>
        Add Organization
      </li>
      <li [routerLink]="'/user/dashboard/settings'">
        <span class="material-symbols-outlined link-icon">settings</span>
        Settings
      </li>
    </ul>
  </div>
  <div class="sidebar-section">
    <ul>
      <li (click)="authAction()">
        <span class="material-symbols-outlined link-icon">
          {{ isLoggedIn ? "logout" : "login" }}
        </span>
        {{ isLoggedIn ? "Logout" : "Login" }}
      </li>
    </ul>
  </div>
</div>
