<header class="header">
  <div class="header-bound">
    <!-- Logo Section -->
    <div class="logoContainer">
      <img
        (click)="setActiveItem('')"
        src="https://cfdblob.blob.core.windows.net/logo/CDK_Logo.png"
        alt="Click Source Logo"
        class="logo"
        routerLink="/"
      />
    </div>

    <!-- Search Bar -->
    <div class="query">
      <input type="text" placeholder="Search Opportunities" class="searchbar" />
    </div>

    <!-- Navigation Menu -->
    <nav class="menu-bar">
      <ul class="menu-list">
        <li
          class="menu-item"
          [class.active-events]="currentActiveItem === 'all-events'"
          (click)="setActiveItem('all-events')"
        >
          <a [routerLink]="['/']" class="all-events-head">All Events</a>

          <!-- Submenu for Event Types and Subtypes -->
          <ul *ngIf="eventTypes.length > 0" class="submenu">
            <div class="submenu-content">
              <li *ngFor="let eventType of eventTypes" class="submenu-item">
                <a
                  [routerLink]="['/']"
                  [queryParams]="{ isfrom: eventType.name, id: eventType.id }"
                  class="event-type-name"
                >
                  {{ eventType.name }}
                </a>

                <!-- Submenu for Event Subtypes -->
                <ul
                  *ngIf="
                    eventSubTypesByType[eventType.id] &&
                    eventSubTypesByType[eventType.id].length > 0
                  "
                  class="subsubmenu"
                >
                  <li
                    *ngFor="let subType of eventSubTypesByType[eventType.id]"
                    class="subsubmenu-item"
                  >
                    <a [routerLink]="['/event/all-events']">
                      {{ subType.name }}
                    </a>
                  </li>
                </ul>
              </li>
            </div>
          </ul>
        </li>

        <li
          *ngFor="let eventType of eventTypes"
          class="menu-item"
          [class.active]="currentActiveItem === eventType.name"
          (click)="setActiveItem(eventType.name)"
        >
          <a
            [routerLink]="['/']"
            [queryParams]="{ isfrom: eventType.name, id: eventType.id }"
          >
            {{ eventType.name }}
          </a>
        </li>

        <li
          class="menu-item"
          [class.active]="currentActiveItem === 'sponsors'"
          (click)="setActiveItem('sponsors')"
        >
          <a [routerLink]="['/sponsor/all-sponsors']"> Sponsors </a>
        </li>
      </ul>
    </nav>

    <!-- User Action Buttons -->
    <div class="action">
      <button
        class="btn btn-host"
        [routerLink]="'/event/add-event'"
        (click)="setActiveItem('')"
      >
        + Host
      </button>
      <!-- <button class="btn btn-business" routerLink="/">For Business</button> -->

      <!-- Profile Icon -->
      <div class="user user-profile">
        <div class="user-icons" (click)="toggleSidebar()">
          <img
            src="../../../../assets/836.jpg"
            alt="User Profile"
            class="profile-icon"
          />
        </div>
      </div>
    </div>
  </div>
</header>

<div class="overlay" *ngIf="isSidebarOpen" (click)="toggleSidebar()"></div>

<div class="sidebar" [ngClass]="{ show: isSidebarOpen }">
  <div class="sidebar-header">
    <div class="profile-container">
      <img src="../../../../assets/836.jpg" class="profile-pic" />
      <div class="profile-info">
        <h4>{{ firstName }}</h4>
        <p>{{ email }}</p>
        <a [routerLink]="'/user/dashboard/my-profile'" class="view-profile"
          >View Profile &gt;</a
        >
      </div>
    </div>
  </div>

  <div class="sidebar-section" *ngIf="userRole === 'SuperAdmin'">
    <h5>For Admin</h5>
    <hr class="line" />
    <ul>
      <li [routerLink]="'/event/add-event'">
        <span class="material-symbols-outlined link-icon">linked_services</span>
        Host Event
      </li>
      <li [routerLink]="'/user/dashboard/manage-listings'">
        <span class="material-symbols-outlined link-icon">home_work</span>
        View My Event List
      </li>
      <li [routerLink]="'/user/dashboard/admin-panel'">
        <span class="material-symbols-outlined link-icon">shield_person</span>
        All Event List
      </li>
      <li>
        <span class="material-symbols-outlined link-icon">wysiwyg</span>
        View Event Registerations
      </li>
      <li [routerLink]="'/user/dashboard/create-pool'">
        <span class="material-symbols-outlined link-icon">new_window</span>
        Create Event Pool
      </li>
      <li [routerLink]="'/user/dashboard/pool-details'">
        <span class="material-symbols-outlined link-icon">page_info</span>
        View Event Pool List
      </li>
      <li [routerLink]="'/user/dashboard/add-performance'">
        <span class="material-symbols-outlined link-icon">playlist_add</span>
        Add Event Performance
      </li>
      <li [routerLink]="'/user/dashboard/view-performance'">
        <span class="material-symbols-outlined link-icon">analytics</span>
        View Event Performance List
      </li>
      <li [routerLink]="'/user/dashboard/my-wishlist'">
        <span class="material-symbols-outlined link-icon">bookmark_heart</span>
        My Wishlist
      </li>
      <li [routerLink]="'/user/dashboard/add-sponsor'">
        <span class="material-symbols-outlined link-icon">crowdsource</span>
        Add Sponsor
      </li>

      <li [routerLink]="'/user/dashboard/add-skill'">
        <span class="material-symbols-outlined link-icon">workspaces</span>
        Add Skill
      </li>
      <li [routerLink]="'/user/dashboard/add-category'">
        <span class="material-symbols-outlined link-icon">category</span>
        Add Category
      </li>
      <li [routerLink]="'/user/dashboard/add-organization'">
        <span class="material-symbols-outlined link-icon">domain_add</span>
        Add Organization
      </li>
    </ul>
  </div>

  <div class="sidebar-section" *ngIf="userRole === 'Organizer'">
    <h5>For Organizers</h5>
    <hr class="line" />
    <ul>
      <li [routerLink]="'/event/add-event'">
        <span class="material-symbols-outlined link-icon">linked_services</span>
        Host Event
      </li>
      <li [routerLink]="'/user/dashboard/manage-listings'">
        <span class="material-symbols-outlined link-icon">home_work</span>
        View Event List
      </li>
      <li>
        <span class="material-symbols-outlined link-icon">wysiwyg</span>
        View Event Registerations
      </li>
      <li [routerLink]="'/user/dashboard/create-pool'">
        <span class="material-symbols-outlined link-icon">new_window</span>
        Create Event Pool
      </li>
      <li [routerLink]="'/user/dashboard/pool-details'">
        <span class="material-symbols-outlined link-icon">page_info</span>
        View Event Pool List
      </li>
      <li [routerLink]="'/user/dashboard/add-performance'">
        <span class="material-symbols-outlined link-icon">automation</span>
        Add Event Performance
      </li>
      <li>
        <span class="material-symbols-outlined link-icon">list_alt</span>
        View Event Performance List
      </li>
      <li [routerLink]="'/user/dashboard/view-performance'">
        <span class="material-symbols-outlined link-icon">analytics</span>
        View Event Performance
      </li>
      <li [routerLink]="'/user/dashboard/my-wishlist'">
        <span class="material-symbols-outlined link-icon">bookmark_heart</span>
        My Wishlist
      </li>
    </ul>
  </div>

  <div class="sidebar-section" *ngIf="isCollaborator">
    <h5>For Collaborator</h5>
    <hr class="line" />
    <ul>
      <li (click)="navigateToCollaboratorListing()">
        <span class="material-symbols-outlined link-icon">home_work</span>
        Manage Listings
      </li>
    </ul>
  </div>

  <div class="sidebar-section" *ngIf="userRole === 'Participant'">
    <h5>For Participants</h5>
    <hr class="line" />
    <ul>
      <li [routerLink]="'/user/dashboard/my-registerations'">
        <span class="material-symbols-outlined link-icon"
          >app_registration</span
        >
        My Registrations
      </li>
      <li [routerLink]="'/user/dashboard/my-wishlist'">
        <span class="material-symbols-outlined link-icon">bookmark_heart</span>
        My Wishlist
      </li>
      <li>
        <span class="material-symbols-outlined link-icon">developer_guide</span>
        My Certificates
      </li>
    </ul>
  </div>
  <div class="sidebar-section" *ngIf="isLoggedIn">
    <h5>For Campus Ambassador</h5>
    <hr class="line" />
    <ul>
      <li [routerLink]="'/user/dashboard/view-application'">
        <span class="material-symbols-outlined link-icon">diversity_1</span>
        View Application
      </li>
      <li>
        <span class="material-symbols-outlined link-icon">demography</span>
        Our Ambassador
      </li>
    </ul>
  </div>
  <div class="sidebar-section" *ngIf="isLoggedIn">
    <h5>Sponsorship</h5>
    <hr class="line" />
    <ul>
      <li>
        <span class="material-symbols-outlined link-icon">inventory</span>
        View Applied Sponsors
      </li>
    </ul>
  </div>
  <div class="sidebar-section" *ngIf="isLoggedIn">
    <h5>Help & Support</h5>
    <hr class="line" />
    <ul>
      <li>
        <span class="material-symbols-outlined link-icon">help</span>
        Create Ticket
      </li>
      <li>
        <span class="material-symbols-outlined link-icon">support_agent</span>
        Contact Us
      </li>
    </ul>
  </div>
  <div class="sidebar-section" *ngIf="isLoggedIn">
    <h5>Settings</h5>
    <hr class="line" />
    <ul>
      <li>
        <span class="material-symbols-outlined link-icon">vpn_key</span>
        Password Management
      </li>
      <li>
        <span class="material-symbols-outlined link-icon">notifications</span>
        Notification Permission
      </li>
    </ul>
  </div>
  <div class="sidebar-section">
    <ul>
      <li (click)="authAction()">
        <span class="material-symbols-outlined link-icon">
          {{ isLoggedIn ? "logout" : "login" }}
        </span>
        {{ isLoggedIn ? "Logout" : "Login" }}
      </li>
    </ul>
  </div>
</div>
