<div class="workshops-container">
  <div *ngIf="isLoading" class="loading-spinner">
    <!-- Loading Spinner or Text -->
    <mat-spinner></mat-spinner>
  </div>
  <div *ngIf="!isLoading" class="workshops-content">
    <div class="nav-container">
      <div class="back-btn nav-btn" (click)="onBackButtonClick()">
        <span class="material-symbols-outlined"> arrow_back_ios </span>
        <span class="btn-txt">Back</span>
      </div>
      <div
        class="section-btn nav-btn"
        *ngFor="let tab of tabs"
        [class.active]="currentStep === tab.id"
        (click)="goToStep(tab.id)"
      >
        <span class="count">{{ tab.id }}</span>
        <span class="btn-txt">{{ tab.title }}</span>
      </div>
    </div>
    <div class="basic-details-container" *ngIf="currentStep === 1">
      <div class="details-title">Basic Details</div>

      <div class="opportunity-logo">
        <ul class="logo-upload">
          <div class="upload-title">Oportunity Logo</div>
          <div
            class="upload-card"
            *ngFor="let item of eventImage; let i = index"
          >
            <div
              class="upload-card-brd"
              (click)="selectFile()"
              id="{{ i }}"
              *ngIf="item == ''"
            >
              <input
                type="file"
                id="eventFileUpload"
                name="eventFileUpload"
                (change)="selectImage($event)"
                style="display: none"
                multiple
              />
              <div>
                <button mat-raised-button color="primary" class="upload-btn">
                  <span class="material-symbols-outlined">cloud_upload</span>
                  <span>Click here to upload</span>
                </button>
              </div>
            </div>
            <div class="upload-card-brd" *ngIf="item != ''">
              <div class="preview">
                <button
                  class="delete-button"
                  (click)="deleteBackgroundImage(i)"
                >
                  <span class="delete-icon">&#10006;</span>
                </button>
                <img [src]="item" height="120px" width="120px" alt="" />
              </div>
            </div>
          </div>
          <p>Max size of image cannot exceed 1 MB!</p>
        </ul>
      </div>

      <!-- Opportunity Type -->
      <div class="form-field">
        <label class="section-label">Opportunity Type *</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Opportunity Type</mat-label>
          <mat-select [(ngModel)]="eventPayload.eventTypeId">
            <mat-option
              *ngFor="let eventType of eventTypes"
              [value]="eventType.id"
            >
              {{ eventType.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Visibility -->
      <div class="visibility-container">
        <label class="section-label">Visibility *</label>
        <mat-radio-group
          [(ngModel)]="eventPayload.visibilityId"
          aria-label="Visibility"
          class="visibility-options"
        >
          <mat-radio-button
            *ngFor="let visibility of visibilities"
            [value]="visibility.id"
            class="option-card"
          >
            <div class="icon-text-container">
              <div>
                <p class="title">{{ visibility.name }}</p>
              </div>
            </div>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Opportunity Title -->
      <div class="form-field">
        <label class="section-label">Opportunity Title *</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Opportunity Title</mat-label>
          <input
            matInput
            maxlength="190"
            placeholder="Enter Opportunity Title"
            [(ngModel)]="eventPayload.title"
            name="eventTitle"
          />
          <mat-hint align="end">Max 190 characters</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="section-label">Organization Name *</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Organization Name</mat-label>
          <mat-select [(ngModel)]="eventPayload.organisationId">
            <mat-option *ngFor="let org of organisations" [value]="org.id">
              {{ org.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- Website Link -->
      <div class="form-field">
        <label class="section-label">Website URL *</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Website URL</mat-label>
          <input
            matInput
            maxlength="190"
            placeholder="Enter Your Website Link"
            [(ngModel)]="eventPayload.websiteURL"
            name="websiteURL"
          />
          <mat-hint align="end">Max 190 characters</mat-hint>
        </mat-form-field>
      </div>

      <div class="visibility-container">
        <label class="section-label">Mode of Event *</label>
        <mat-radio-group
          [(ngModel)]="eventPayload.eventModeId"
          aria-label="EventMode"
          class="visibility-options"
        >
          <mat-radio-button
            *ngFor="let eventMode of eventModes"
            [value]="eventMode.id"
            class="option-card"
          >
            <div class="icon-text-container">
              <div>
                <p class="title">{{ eventMode.name }}</p>
              </div>
            </div>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <!-- Categories -->
      <div class="form-field">
        <label class="section-label">Category *</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Categories</mat-label>
          <mat-select [(ngModel)]="selectedCategories" multiple>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="section-label">Skills *</label>
        <div class="selected-skills">
          <mat-chip-list #chipList style="display: flex; gap: 10px">
            <mat-chip
              *ngFor="let skill of selectedSkills"
              [removable]="true"
              (removed)="removeSkill(skill)"
            >
              {{ skill.name }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </div>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Skills</mat-label>

          <input
            matInput
            [formControl]="skillControl"
            [matAutocomplete]="skillAuto"
            placeholder="Enter Skill Name"
          />
          <mat-autocomplete
            #skillAuto="matAutocomplete"
            (optionSelected)="handleSkill($event.option.value)"
            [displayWith]="displaySkill"
          >
            <mat-option
              *ngFor="let skill of filteredSkills | async"
              [value]="skill"
            >
              {{ skill.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <!-- Collaborators -->
      <div class="form-field">
        <label class="section-label">Collaborators *</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Add Collaborators</mat-label>
          <mat-select [(ngModel)]="selectedCollaborators" multiple>
            <mat-option *ngFor="let user of users" [value]="user">
              {{ user.userName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field">
        <button
          mat-raised-button
          color="primary"
          class="add-event-btn"
          (click)="nextStep()"
        >
          Next
        </button>
      </div>
    </div>
    <div class="basic-details-container" *ngIf="currentStep === 2">
      <div class="details-title">Registeration Details</div>

      <!-- Visibility -->
      <div class="visibility-container">
        <label class="section-label">Participation Type *</label>
        <mat-radio-group
          [(ngModel)]="
            eventPayload.eventRegistrationList[0].participationTypeId
          "
          aria-label="Visibility"
          class="visibility-options"
        >
          <mat-radio-button
            *ngFor="let type of participationTypes"
            [value]="type.id"
            class="option-card"
          >
            <div class="icon-text-container">
              <div>
                <p class="title">{{ type.name }}</p>
              </div>
            </div>
          </mat-radio-button>
        </mat-radio-group>
      </div>

      <div
        *ngIf="eventPayload.eventRegistrationList[0].participationTypeId === 2"
      >
        <div class="form-field">
          <label class="section-label">Min Team Members *</label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Min Team Members</mat-label>
            <input
              matInput
              [(ngModel)]="eventPayload.eventRegistrationList[0].minTeamMember"
              name="minTeamMember"
            />
          </mat-form-field>
        </div>

        <div class="form-field">
          <label class="section-label">Max Team Members *</label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Max Team Members</mat-label>
            <input
              matInput
              [(ngModel)]="eventPayload.eventRegistrationList[0].maxTeamMember"
              name="maxTeamMember"
            />
          </mat-form-field>
        </div>
      </div>

      <!-- Opportunity Title -->
      <div class="form-field">
        <label class="section-label">No. of Registerations Allowed *</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Participants Count</mat-label>
          <input
            matInput
            maxlength="190"
            placeholder="Enter Participants Count"
            [(ngModel)]="
              eventPayload.eventRegistrationList[0].registrationCountLimit
            "
            (ngModelChange)="onRegistrationCountChange($event)"
            name="registrationCount"
          />
          <mat-hint align="end">Max 190 characters</mat-hint>
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="section-label">Registeration Start Date *</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Registeration Start Date</mat-label>
          <input
            matInput
            [matDatepicker]="startDatePicker"
            [(ngModel)]="registerationStartDate"
            (ngModelChange)="updateStartDateTime()"
            name="startDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="startDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="section-label">Registeration Start Time *</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Registeration Start Time</mat-label>
          <input
            matInput
            type="time"
            [(ngModel)]="registerationStartTime"
            (ngModelChange)="updateStartDateTime()"
            name="startTime"
          />
        </mat-form-field>
      </div>

      <div class="form-field">
        <label class="section-label">Registeration End Date *</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Registeration End Date</mat-label>
          <input
            matInput
            [matDatepicker]="endDatePicker"
            [(ngModel)]="registerationEndDate"
            (ngModelChange)="updateEndDateTime()"
            name="endDate"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="endDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="form-field">
        <label class="section-label">Registeration End Time *</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Registeration End Time</mat-label>
          <input
            matInput
            type="time"
            [(ngModel)]="registerationEndTime"
            (ngModelChange)="updateEndDateTime()"
            name="endTime"
          />
        </mat-form-field>
      </div>

      <div class="form-field">
        <button
          mat-raised-button
          color="primary"
          class="add-event-btn"
          (click)="nextStep()"
        >
          Next
        </button>
      </div>
    </div>
    <div class="basic-details-container" *ngIf="currentStep === 3">
      <div class="details-title">About Opportunity</div>
      <!-- About Opportunity -->
      <div class="form-field">
        <label class="section-label">About Opportunity *</label>

        <quill-editor
          [modules]="editorModules"
          [(ngModel)]="eventPayload.description"
          (ngModelChange)="onContentChange($event)"
          class="quill-editor"
        ></quill-editor>
      </div>
      <div class="form-field">
        <button
          mat-raised-button
          color="primary"
          class="add-event-btn"
          (click)="nextStep()"
        >
          Next
        </button>
      </div>
    </div>
    <div class="basic-details-container" *ngIf="currentStep === 4">
      <div class="details-title">Round Details</div>

      <div class="prizes-container">
        <div
          *ngFor="let round of eventPayload.eventRoundList; let i = index"
          class="prize-group"
        >
          <div class="prizes-top">
            <div class="prizes-title">Round</div>
            <span
              *ngIf="eventPayload.eventRoundList.length > 1"
              class="remove-prize-icon material-symbols-outlined"
              (click)="deleteRound(i)"
              >delete</span
            >
          </div>

          <!-- Title -->
          <div class="form-field">
            <label class="section-label">Title *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Title</mat-label>
              <input
                matInput
                placeholder="Enter Round Title"
                [(ngModel)]="round.title"
                name="title-{{ i }}"
              />
            </mat-form-field>
          </div>

          <!-- Description -->
          <div class="form-field">
            <label class="section-label">Description *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Round Description</mat-label>
              <textarea
                matInput
                placeholder="Enter Round Description"
                [(ngModel)]="round.description"
                name="description-{{ i }}"
              ></textarea>
            </mat-form-field>
          </div>

          <!-- Start Date -->
          <div class="form-field">
            <label class="section-label">Start Date *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Start Date</mat-label>
              <input
                matInput
                [matDatepicker]="roundStartDatePicker"
                [(ngModel)]="round.startDate"
                (ngModelChange)="updateRoundStartDateTime(round, i)"
                name="roundStartDate-{{ i }}"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="roundStartDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #roundStartDatePicker></mat-datepicker>
            </mat-form-field>
          </div>

          <!-- Start Time -->
          <div class="form-field">
            <label class="section-label">Start Time *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Start Time</mat-label>
              <input
                matInput
                [(ngModel)]="roundTimes[i].startTime"
                type="time"
                name="roundStartTime-{{ i }}"
                (ngModelChange)="updateRoundStartDateTime(round, i)"
              />
            </mat-form-field>
          </div>

          <!-- End Date -->
          <div class="form-field">
            <label class="section-label">End Date *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>End Date</mat-label>
              <input
                matInput
                [matDatepicker]="roundEndDatePicker"
                [(ngModel)]="round.endDate"
                (ngModelChange)="updateRoundEndDateTime(round, i)"
                name="roundEndDate-{{ i }}"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="roundEndDatePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #roundEndDatePicker></mat-datepicker>
            </mat-form-field>
          </div>

          <!-- End Time -->
          <div class="form-field">
            <label class="section-label">End Time *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>End Time</mat-label>
              <input
                matInput
                [(ngModel)]="roundTimes[i].endTime"
                type="time"
                name="roundEndTime-{{ i }}"
                (ngModelChange)="updateRoundEndDateTime(round, i)"
              />
            </mat-form-field>
          </div>

          <!-- Add Round Button -->
          <button
            mat-raised-button
            color="primary"
            (click)="addRound()"
            class="add-prize-btn"
          >
            Add Round
          </button>
        </div>
      </div>

      <div class="form-field">
        <button
          mat-raised-button
          color="primary"
          class="add-event-btn"
          (click)="nextStep()"
        >
          Next
        </button>
      </div>
    </div>

    <div class="basic-details-container" *ngIf="currentStep === 5">
      <div class="details-title">Prize Details</div>

      <div class="form-field">
        <label class="section-label">Prize Title *</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Title</mat-label>
          <input
            matInput
            maxlength="190"
            placeholder="Enter Prize Title"
            [(ngModel)]="eventPayload.eventPrizeList[0].title"
            name="prizeTitle"
          />
          <mat-hint align="end">Max 190 characters</mat-hint>
        </mat-form-field>
      </div>
      <!-- Visibility -->
      <div class="visibility-container">
        <label class="section-label">Is Certificate Provided *</label>

        <mat-radio-group
          [(ngModel)]="
            eventPayload.eventPrizeList[0].isParticipationCertificateProvided
          "
          aria-label="Participation Certificate Provided"
          class="visibility-options mb-20"
        >
          <mat-radio-button [value]="true" class="option-card">
            <div class="icon-text-container">
              <div>
                <p class="title">Yes</p>
              </div>
            </div>
          </mat-radio-button>

          <mat-radio-button [value]="false" class="option-card">
            <div class="icon-text-container">
              <div>
                <p class="title">No</p>
              </div>
            </div>
          </mat-radio-button>
        </mat-radio-group>

        <div class="prizes-container">
          <div
            *ngFor="
              let prize of eventPayload.eventPrizeList[0].prizeList;
              let i = index
            "
            class="prize-group"
          >
            <div class="prizes-top">
              <div class="prizes-title">Prize</div>
              <span
                *ngIf="eventPayload.eventPrizeList[0].prizeList.length > 1"
                class="remove-prize-icon material-symbols-outlined"
                (click)="deletePrize(i)"
                >delete</span
              >
            </div>
            <div class="form-field">
              <label class="section-label">Rank *</label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Rank</mat-label>
                <input
                  matInput
                  placeholder="Enter Rank"
                  [(ngModel)]="prize.rank"
                  name="rank-{{ i }}"
                />
              </mat-form-field>
            </div>
            <div class="form-field">
              <label class="section-label">Cash *</label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Cash Amount</mat-label>
                <input
                  matInput
                  placeholder="Enter Cash Amount"
                  [(ngModel)]="prize.cash"
                  (ngModelChange)="prize.cash = toNumber($event)"
                  name="cash-{{ i }}"
                />
              </mat-form-field>
            </div>
            <div class="form-field">
              <label class="section-label">Perks *</label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Perks</mat-label>
                <input
                  matInput
                  placeholder="Enter Perks"
                  [(ngModel)]="prize.perks"
                  name="perks-{{ i }}"
                />
              </mat-form-field>
            </div>
            <div class="form-field">
              <label class="section-label">Other Details *</label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Other Details</mat-label>
                <textarea
                  matInput
                  placeholder="Enter Other Details"
                  [(ngModel)]="prize.otherDetails"
                  name="otherDetails-{{ i }}"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          <button
            mat-raised-button
            color="primary"
            (click)="addPrize()"
            class="add-prize-btn"
          >
            Add Prize
          </button>
        </div>

        <div class="form-field">
          <button
            mat-raised-button
            color="primary"
            class="add-event-btn"
            (click)="nextStep()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
    <div class="basic-details-container" *ngIf="currentStep === 6">
      <div class="details-title">Contact Details</div>

      <div class="prizes-container">
        <div
          *ngFor="let contact of eventPayload.eventContactList; let i = index"
          class="prize-group"
        >
          <div class="prizes-top">
            <div class="prizes-title">Contact</div>
            <span
              class="remove-prize-icon material-symbols-outlined"
              (click)="deleteContact(i)"
              >delete</span
            >
          </div>

          <div class="form-field">
            <label class="section-label">Name *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Name</mat-label>
              <input
                matInput
                placeholder="Enter Name"
                [(ngModel)]="contact.name"
                name="name-{{ i }}"
              />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="section-label">Email *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Email</mat-label>
              <input
                matInput
                placeholder="Enter Email"
                [(ngModel)]="contact.email"
                name="email-{{ i }}"
              />
            </mat-form-field>
          </div>

          <div class="form-field">
            <label class="section-label">Contact No *</label>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Contact No</mat-label>
              <input
                matInput
                placeholder="Enter Contact No"
                [(ngModel)]="contact.contactNo"
                name="contact-{{ i }}"
              />
            </mat-form-field>
          </div>

          <button
            mat-raised-button
            color="primary"
            (click)="addContact()"
            class="add-prize-btn"
          >
            Add More Contact
          </button>
        </div>
      </div>

      <div class="form-field">
        <button
          mat-raised-button
          color="primary"
          class="add-event-btn"
          (click)="nextStep()"
        >
          Next
        </button>
      </div>
    </div>

    <div class="basic-details-container" *ngIf="currentStep === 7">
      <div class="details-title">Opportunity Gallery</div>

      <div class="opportunity-logo">
        <ul class="logo-upload">
          <div class="upload-title">Gallery Images</div>
          <div
            class="upload-card gallery-upload-card"
            *ngFor="let item of eventPayload.eventGalleryList; let i = index"
          >
            <div
              class="upload-card-brd"
              (click)="selectGalleryFile(i)"
              id="{{ i }}"
              *ngIf="!item.imageURL"
            >
              <input
                type="file"
                [id]="'galleryFileUpload' + i"
                name="galleryFileUpload"
                (change)="selectGalleryImage($event, i)"
                style="display: none"
              />
              <div>
                <button
                  mat-raised-button
                  color="primary"
                  class="upload-btn gallery-upload-btn"
                >
                  <span class="material-symbols-outlined">cloud_upload</span>
                  <span>Click here to upload</span>
                </button>
              </div>
            </div>
            <div class="upload-card-brd" *ngIf="item.imageURL">
              <div class="preview gallery-preview">
                <button class="delete-button" (click)="deleteGalleryImage(i)">
                  <span class="delete-icon">&#10006;</span>
                </button>
                <img
                  [src]="item.imageURL"
                  height="200px"
                  width="200px"
                  alt=""
                />
              </div>
            </div>
            <div class="form-field gallery-description-field">
              <label class="section-label">Description *</label>
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  maxlength="190"
                  placeholder="Enter Description"
                  [(ngModel)]="item.description"
                  name="galleryDescription{{ i }}"
                ></textarea>
                <mat-hint align="end">Max 190 characters</mat-hint>
              </mat-form-field>
            </div>
          </div>
          <button
            mat-raised-button
            color="primary"
            class="add-gallery-btn"
            (click)="addGallery()"
          >
            Add More
          </button>
        </ul>
      </div>

      <div class="form-field">
        <button
          mat-raised-button
          color="primary"
          class="add-event-btn"
          (click)="nextStep()"
        >
          Next
        </button>
      </div>
    </div>

    <div class="basic-details-container" *ngIf="currentStep === 8">
      <div class="details-title">Opportunity Banner</div>

      <div class="opportunity-logo">
        <ul class="logo-upload">
          <div class="upload-title">Banner Image</div>
          <div
            class="upload-card"
            *ngFor="let item of bannerImage; let i = index"
          >
            <div
              class="upload-card-brd"
              (click)="selectBannerFile()"
              id="{{ i }}"
              *ngIf="item == ''"
            >
              <input
                type="file"
                id="bannerFileUpload"
                name="bannerFileUpload"
                (change)="selectBannerImage($event)"
                style="display: none"
                multiple
              />
              <div>
                <button mat-raised-button color="primary" class="upload-btn">
                  <span class="material-symbols-outlined">cloud_upload</span>
                  <span>Click here to upload</span>
                </button>
              </div>
            </div>
            <div class="upload-card-brd" *ngIf="item != ''">
              <div class="preview">
                <button class="delete-button" (click)="deleteBannerImage(i)">
                  <span class="delete-icon">&#10006;</span>
                </button>
                <img [src]="item" height="80px" width="80px" alt="" />
              </div>
            </div>
          </div>
          <p>Max size of image cannot exceed 1 MB!</p>
        </ul>
      </div>

      <div class="form-field">
        <button
          mat-raised-button
          color="primary"
          class="add-event-btn"
          (click)="addEvent()"
        >
          Add Event
        </button>
      </div>
    </div>
  </div>
</div>
