<div class="layout-container">
  <div class="sidebar">
    <div class="user-info">
      <img
        src="../../../../../assets/836.jpg"
        alt="User Avatar"
        class="user-avatar"
      />
      <h3 class="user-name">{{ firstName }}</h3>
      <p class="user-email">{{ email }}</p>
      <div class="progress-bar">
        <div class="progress" style="width: 67%"></div>
      </div>
    </div>
    <div *ngIf="userRole === 'SuperAdmin'">
      <div class="menu-heading">For Admin</div>
      <ul class="menu">
        <li
          [routerLink]="'/user/dashboard/admin-panel'"
          [ngClass]="{ active: activeMenuItem === 'admin-panel' }"
          (click)="setActiveMenuItem('admin-panel')"
        >
          <span class="material-symbols-outlined link-icon">shield_person</span>
          Admin Panel
        </li>
        <li
          [routerLink]="'/user/dashboard/add-skill'"
          [ngClass]="{ active: activeMenuItem === 'add-skill' }"
          (click)="setActiveMenuItem('add-skill')"
        >
          <span class="material-symbols-outlined link-icon">workspaces</span>
          Add Skill
        </li>
        <li
          [routerLink]="'/user/dashboard/add-category'"
          [ngClass]="{ active: activeMenuItem === 'add-category' }"
          (click)="setActiveMenuItem('add-category')"
        >
          <span class="material-symbols-outlined link-icon">category</span>
          Add Category
        </li>
        <li
          [routerLink]="'/user/dashboard/add-organization'"
          [ngClass]="{ active: activeMenuItem === 'add-organization' }"
          (click)="setActiveMenuItem('add-organization')"
        >
          <span class="material-symbols-outlined link-icon">domain_add</span>
          Add Organization
        </li>
        <!-- <li
          [routerLink]="'/user/dashboard/settings'"
          [ngClass]="{ active: activeMenuItem === 'settings' }"
          (click)="setActiveMenuItem('settings')"
        >
          <span class="material-symbols-outlined link-icon">settings</span>
          Settings
        </li> -->
      </ul>
    </div>
    <div *ngIf="userRole === 'Participant'">
      <div class="menu-heading">For Participants</div>
      <ul class="menu">
        <li
          [routerLink]="'/user/dashboard/my-registerations'"
          (click)="setActiveMenuItem('my-registeraions')"
          [ngClass]="{ active: activeMenuItem === 'my-registerations' }"
        >
          <span class="material-symbols-outlined link-icon">assignment</span>
          My Registrations
        </li>
        <li
          [routerLink]="'/user/dashboard/certificates'"
          (click)="setActiveMenuItem('certificates')"
          [ngClass]="{ active: activeMenuItem === 'certificates' }"
        >
          <span class="material-symbols-outlined link-icon">verified</span>
          Certificates
        </li>
        <li
          [routerLink]="'/user/dashboard/wishlist'"
          (click)="setActiveMenuItem('wishlist')"
          [ngClass]="{ active: activeMenuItem === 'wishlist' }"
        >
          <span class="material-symbols-outlined link-icon">favorite</span>
          Wishlist
        </li>
        <!-- <li
          [routerLink]="'/user/dashboard/settings'"
          (click)="setActiveMenuItem('settings')"
          [ngClass]="{ active: activeMenuItem === 'settings' }"
        >
          <span class="material-symbols-outlined link-icon">settings</span>
          Settings
        </li> -->
      </ul>
    </div>
    <div *ngIf="userRole === 'Organizer'">
      <div class="menu-heading">For Organizers</div>
      <ul class="menu">
        <li
          [routerLink]="'/user/dashboard/manage-listings'"
          (click)="setActiveMenuItem('manage-listings')"
          [ngClass]="{ active: activeMenuItem === 'manage-listings' }"
        >
          <span class="material-symbols-outlined link-icon">home_work</span>
          Manage Listings
        </li>
        <!-- <li
          [routerLink]="'/user/dashboard/settings'"
          (click)="setActiveMenuItem('settings')"
          [ngClass]="{ active: activeMenuItem === 'settings' }"
        >
          <span class="material-symbols-outlined">settings</span>
          Settings
        </li> -->
      </ul>
    </div>
    <div *ngIf="isCollaborator">
      <div class="menu-heading">For Collaborator</div>
      <ul class="menu">
        <li
          [routerLink]="'/user/dashboard/manage-listings'"
          [queryParams]="{ isCollaborator: 'true' }"
          (click)="setActiveMenuItem('collaborator-listings')"
          [ngClass]="{ active: activeMenuItem === 'collaborator-listings' }"
        >
          <span class="material-symbols-outlined link-icon">home_work</span>
          Collaborator Listings
        </li>
      </ul>
    </div>
    <div class="common-menus">
      <ul class="menu">
        <li
          [routerLink]="'/user/dashboard/settings'"
          (click)="setActiveMenuItem('settings')"
          [ngClass]="{ active: activeMenuItem === 'settings' }"
        >
          <span class="material-symbols-outlined">settings</span>
          Settings
        </li>
      </ul>
    </div>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
