.home-container {
  margin: 120px 0px;
}

.host-container {
  margin: 0px 50px;
  padding: 50px 100px;
  background-color: #fdf9f5;
  border-radius: 20px;
}

.events-container {
  padding: 50px 100px;
  min-height: 50vh;
}

.container-title {
  color: #009afe;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  margin-bottom: 25px;
  margin-top: 50px;
}

.container-description {
  font-size: 16px;
  font-weight: 500;
}

.see-events-btn {
  margin-top: 30px;
  background-color: #009afe;
  color: #fff;
  padding: 15px 25px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.section-title .emoji {
  font-size: 24px;
}

.section-subtitle {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}
