<div class="main-container">
  <!-- Profile Header -->
  <div class="profile-header">
    <!-- Circular Progress and Avatar -->
    <div class="profile-image">
      <div class="progress-circle">
        <img src="https://via.placeholder.com/60" alt="Avatar" class="avatar" />
      </div>
    </div>

    <!-- Profile Information -->
    <div class="profile-details">
      <h2>{{ firstName }}</h2>
      <p>{{ email }}</p>
      <div class="profile-icons">
        <span class="material-symbols-outlined">school</span>
        <strong>IIT</strong>
      </div>
      <div class="profile-icons">
        <span class="material-symbols-outlined">work</span>
        E-commerce Specialist
      </div>
    </div>

    <!-- Buttons -->
    <div class="profile-actions">
      <div class="top-btns">
        <button class="action-btn">
          <span class="material-symbols-outlined">share</span>
        </button>
        <button class="action-btn">
          <span class="material-symbols-outlined">visibility</span>
        </button>
      </div>
      <button class="edit-btn" (click)="toggleSidebar()">
        <span class="material-symbols-outlined">edit</span>
        Edit Profile
      </button>
    </div>
  </div>

  <div class="d-flex">
    <div class="left">
      <div class="top-content white-box">
        <div class="profile-strength">
          <div class="strength-text">
            <div><strong>Profile strength:</strong> Beginner</div>
            <div>
              Adding your resume and other professional details will give your
              profile the edge it needs in front of dream recruiters!
            </div>
          </div>
        </div>

        <!-- Steps to Complete Profile -->
        <div class="steps-card">
          <div class="profile-steps">
            <div class="step-card">
              <div class="step-card-title">Add Education</div>
              <div class="step-card-desc">
                Spill the details on your education and give recruiters a
                detailed understanding of your background!
              </div>
              <button class="step-card-btn">Add Education</button>
            </div>
            <div class="step-card">
              <div class="step-card-title">Add Work Experience</div>
              <div class="step-card-desc">
                If you’ve impacted any organization, share it below!
              </div>
              <button class="step-card-btn">Add Work Experience</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right">
      <div class="rankings white-box">
        <div class="box-title">Rankings</div>
        <div>
          <div>Total Points: <strong>0</strong></div>
          <div>Total Badges: <strong>3</strong></div>
        </div>
      </div>

      <!-- Unstop Coins Section -->
      <div class="unstop-coins white-box">
        <div class="box-title">Unstop Coins</div>
        <div>169 Coins</div>
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="isSidebarVisible" (click)="toggleSidebar()"></div>

<div class="sidebar-popup" [ngClass]="{ show: isSidebarVisible }">
  <div class="sidebar-header">
    <span
      class="material-symbols-outlined back-icon"
      (click)="toggleSidebar()"
      style="cursor: pointer"
    >
      arrow_back
    </span>
    <span class="header-txt">Edit Profile</span>
  </div>

  <div class="sidebar-popup-container">
    <div class="sidebar-section">
      <div class="sidebar-section-title">Complete Your Profile</div>
      <ul class="nav-items">
        <li class="active">
          <span class="material-symbols-outlined link-icon"
            >history_toggle_off</span
          >
          Basic Details
        </li>
        <li>
          <span class="material-symbols-outlined link-icon"
            >history_toggle_off</span
          >
          My Resume
        </li>
        <li>
          <span class="material-symbols-outlined link-icon"
            >history_toggle_off</span
          >
          About
        </li>
        <li>
          <span class="material-symbols-outlined link-icon"
            >history_toggle_off</span
          >
          Skills
        </li>
        <li>
          <span class="material-symbols-outlined link-icon"
            >history_toggle_off</span
          >
          Education
        </li>
      </ul>
    </div>
    <div class="sidebar-content">
      <div class="content-section-title">Basic Details</div>
      <div class="content top-content">
        <div class="user-image">
          <ul class="image-upload">
            <div class="upload-title">Profile Picture</div>
            <div
              class="upload-card"
              *ngFor="let item of userImage; let i = index"
            >
              <div
                class="upload-card-brd"
                (click)="selectFile()"
                id="{{ i }}"
                *ngIf="item == ''"
              >
                <input
                  type="file"
                  id="eventFileUpload"
                  name="eventFileUpload"
                  (change)="selectImage($event)"
                  style="display: none"
                  multiple
                />
                <div>
                  <button mat-raised-button color="primary" class="upload-btn">
                    <span class="material-symbols-outlined">cloud_upload</span>
                    <span>Click here to upload</span>
                  </button>
                </div>
              </div>
              <div class="upload-card-brd" *ngIf="item != ''">
                <div class="preview">
                  <button
                    class="delete-button"
                    (click)="deleteBackgroundImage(i)"
                  >
                    <span class="delete-icon">&#10006;</span>
                  </button>
                  <img [src]="item" height="80px" width="80px" alt="" />
                </div>
              </div>
            </div>
            <p>Max size of image cannot exceed 1 MB!</p>
          </ul>
        </div>
      </div>
      <div class="content fields-content">
        <div class="name-fields">
          <div class="form-field">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>First Name</mat-label>
              <input
                matInput
                maxlength="190"
                placeholder="Enter First Name"
                [(ngModel)]="userPayload.firstName"
                name="firstName"
              />
            </mat-form-field>
          </div>
          <div class="form-field">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Last Name</mat-label>
              <input
                matInput
                maxlength="190"
                placeholder="Enter Last Name"
                [(ngModel)]="userPayload.lastName"
                name="lastName"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>User Name</mat-label>
            <input
              matInput
              maxlength="190"
              placeholder="Enter User Name"
              [(ngModel)]="userPayload.userId"
              name="userName"
            />
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input
              matInput
              maxlength="190"
              placeholder="Enter Email"
              [(ngModel)]="userPayload.email"
              name="email"
            />
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Mobile No</mat-label>
            <input
              matInput
              maxlength="190"
              placeholder="Enter Mobile No"
              [(ngModel)]="userPayload.mobileNo"
              name="mobileNo"
            />
          </mat-form-field>
        </div>
        <div class="input-field">
          <div class="input-field-title">Gender*</div>
          <mat-radio-group class="d-flex" [(ngModel)]="userPayload.gender">
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
            <mat-radio-button value="other">Other</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="form-field">
          <label class="section-label">User Type *</label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>User Type</mat-label>
            <mat-select [(ngModel)]="userPayload.userTypeId">
              <mat-option *ngFor="let type of userTypes" [value]="type.id">
                {{ type.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <label class="section-label">Course *</label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Course</mat-label>
            <mat-select [(ngModel)]="userPayload.courseId">
              <mat-option *ngFor="let course of courses" [value]="course.id">
                {{ course.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <label class="section-label">College *</label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>College</mat-label>
            <mat-select [(ngModel)]="userPayload.collegeId">
              <mat-option *ngFor="let college of colleges" [value]="college.id">
                {{ college.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <label class="section-label">Purpose *</label>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Purpose</mat-label>
            <mat-select [(ngModel)]="userPayload.purposeId">
              <mat-option *ngFor="let purpose of purposes" [value]="purpose.id">
                {{ purpose.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <label class="section-label">Location Details *</label>
          <div class="location-fields">
            <div class="form-field">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Pincode</mat-label>
                <input
                  matInput
                  maxlength="190"
                  placeholder="Enter Pincode"
                  [(ngModel)]="userPayload.pincode"
                  name="pincode"
                />
              </mat-form-field>
            </div>
            <div class="form-field">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>City</mat-label>
                <input
                  matInput
                  maxlength="190"
                  placeholder="Enter City"
                  [(ngModel)]="userPayload.city"
                  name="city"
                />
              </mat-form-field>
            </div>
            <div class="form-field">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>State</mat-label>
                <input
                  matInput
                  maxlength="190"
                  placeholder="Enter State"
                  [(ngModel)]="userPayload.state"
                  name="state"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="form-field">
          <button
            mat-raised-button
            color="primary"
            class="add-user-btn"
            (click)="addUser()"
          >
            Add User
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
